@model MemcacheAdmin.Models.Slab
@{
    ViewBag.Title = "MemcacheAdmin Slab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $(".edit").click(function () {
            var id = $(this).parent().parent();
            doLookup($(this).attr('id'), id);
        });
        $(".delete").click(function ()
        {
            var id = $(this).parent();
            doDelete($(this).attr('name'), id);

        });

        function isEmpty(str) {
            return (!str || 0 === str.length);
        }

        function doDelete(key, src) {
            if (!isEmpty(key)) {
                $.ajax({
                    url: '/Home/AjaxDelete',
                    data: { 'serverId': src.attr("server"), 'slabId': src.attr("slab"), 'key': key },
                    type: "DELETE",
                }).done(function (data) {
                    //set all common cells to have common title
                    if (data.code !== true)
                        alert("Unable to delete key: " + data.id);
                    else {
                        $("tr[rowid='" + data.id + "']").remove();
                    }
                }).fail(function (data) {
                    alert("Delete failed " + data);
                });
            }
        }

        function doLookup(key, src) {
            if (!isEmpty(key)) {
                $.ajax({
                    url: '/Home/AjaxLookup',
                    data: { 'serverId': src.attr("server"), 'slabId': src.attr("slab"), 'key': key },
                    type: "POST",
                }).done(function (data) {
                    //set all common cells to have common title
                    if (data.code !== true)
                        alert("Unable to get key: " + data.id);
                    else {
                        alert(data.value);
                    }
                }).fail(function (data) {
                    alert("Lookup failed " + data);
                });
            }
        }

    });
</script>

@if (Request.IsAuthenticated) {

    <table>
        <tbody>
            <a href="javascript:history.back()" >Back</a>
            @if (ViewBag.Items != null)
            {
                <p>Items:</p>
                foreach(var item in ViewBag.items)
                {
                    <tr rowid="@item.Key">
                    <td server="@Model.Server.Name" slab="@Model.Id"><strong><a class="edit" id="@item.Key" href="#">@item.Key</a></strong></td>
                    <td>@item.Value.Size </td>
                    <td>@item.Value.Expiration</td>
                    <td server="@Model.Server.Name" slab="@Model.Id"><a class="delete" name="@item.Key">Delete</a></td>
                    </tr>
                }
            }
            else
            {
                <p>No items found</p>
            }
        </tbody>
    </table>
} 